player-connection-mode=Connect
player-connection-guid=687242403
player-connection-debug=0
player-connection-project-name=callofduty
player-connection-wait-timeout=-1
player-connection-ip=192.168.255.10:37100
player-connection-ip=10.43.1.116:37100
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
